.container-contact{
    padding-left: 10rem;
}

.hero-contact{
    display: flex;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 100px;
}

.hero-contact .contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-contact .btn-contact{
    margin-top: 20px;
}

.hero-contact .btn-contact button{
    width: 100%;
}

.hero-contact .maps{
    width: 70%;
}

.hero-contact iframe{
    max-width: 100%;
    width: 100%;
    height: 900px;
    border: none;
    border-radius: 20px;
    filter: grayscale(80);
}