.hero-contact{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.hero-contact .contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10rem;
}

.hero-contact .btn-contact{
    margin-top: 20px;
}

.hero-contact .title-section p{
    margin: 0;
}

.hero-contact .btn-contact button{
    width: 100%;
}

.hero-contact .maps{
    width: 70%;
}

.hero-contact iframe{
    max-width: 100%;
    width: 100%;
    height: 900px;
    border: none;
    border-radius: 20px;
}

.contact-info{
    margin: 100px 0 ;
}

.card-contact-info .card-title{
    font-size: 15px;
}
.card-contact-info .card-subtitle{
    margin: 0;
}
.card-contact-info .card-text{

}