/* footer */
footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 20px;
}
.brand-footer img{
  width: 100px;
}
.item-footer{
  display: flex;
  flex-direction: row;
}

.column-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 17%;
}


.list-item-footer {
  font-size: 15px;
}

@media (max-width: 768px){
    footer{
        flex-wrap: wrap;
    }

    .column-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 20%;
      }

      .column-brand {
        flex: 100%;
      }
}
