.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    overflow: hidden;
    display: flex;
}

.nav-item{
    padding: 20px;
    margin: auto;
    vertical-align: middle;
    align-items: center;
}

.nav-btn{
    margin: auto;
    vertical-align: middle;
    align-items: center;
}