.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar .navbar-nav{
    display: flex;
    vertical-align: middle;
    list-style-type: none;
    overflow: hidden;
    gap: 40px;
    margin: 0;
    padding: 0 10px;
}

.navbar .nav-item{
    margin: auto;
    vertical-align: middle;
    align-items: center;
}

.navbar .nav-item .active{
    color: #2447f9;
}

.navbar .nav-link{
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 17px;
    color: #152C5B;
    margin: auto 0;
}

.navbar .nav-link:hover{
    color: #2447f9;
}

.nav-btn{
    margin: auto;
    vertical-align: middle;
    align-items: center;
}

.navbar-mobile{
    display: none;
    list-style-type: none;
    justify-content: center;
}

.navbar-mobile .btn{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.navbar-mobile .btn i{
    font-size: 24px;
}

.navbar .popup-active{
    display: flex !important;
}

@media (max-width: 1024px) {

    .navbar{
        flex-wrap: wrap;
    }

    .navbar .nav-btn-join{
        display: none;
    }

    .navbar .list-item{
        display: none;
        flex-direction: column;
        order: 3;
        gap: 20px;
        width: 100%;
        margin: 20px 0;
        padding: 20px;
        background-color: white;
        border-radius: 20px;
    }

    .navbar .nav-item{
        margin: 0;
        align-items: start;
    }

    .navbar-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}